/* Demo Presentation Styles */

body {
	background-color: white;
}

header {
    display: block;
    height: 100px;
}

h1 {
    font-size: 20px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
}

p {
    line-height: 100px;
    text-align: center;
}